
/* breadcrumbs widget */

.breadcrumbs-section-page{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.breadcrumbs-section-page img{
    padding: 0 5px;
}

.breadcrumbs-section-page span{
    color: #5B5B5B;
color: color(display-p3 0.3567 0.3567 0.3567);
text-align: right;
font-family: Almarai;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



 /* 2nd Widget Section Page  */
 .section-top-widget {width: 100%;}
.section-top-widget .title-widget-1 a{color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.section-top-widget .title-widget-1{margin-bottom: 26px;}
.section-top-widget .title-widget-1::after{content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}
.section-top-widget .col-part-one.col-4{padding-left: 28px;max-width: 30%;flex: 0 0 30%}
.section-top-widget .col-part-one .img-ratio{padding-bottom: 71%;}
.section-top-widget .col-part-one .item-info {background: linear-gradient(250deg, #00576F 20.21%, rgba(0, 87, 111, 0.25) 98.28%);min-height: 195px;}
.section-top-widget .col-part-one .item-info a{color: #FFF;color: color(display-p3 1 1 1);text-align: right;font-family: 'Almarai';font-size: 28px;font-style: normal;font-weight: 700;line-height: 39px;text-decoration: none;padding: 30px 25px 43px 20px;}
.section-top-widget .col-part-two{display: flex;flex-wrap: wrap;gap: 28px;}
.section-top-widget .col-part-two .item-row{flex-direction: column;display: flex;flex: 0 0 30%;max-width: 30%}
.section-top-widget .col-part-two .img-ratio{padding-bottom: 60%;}
.section-top-widget .col-part-two .item-row a.size-15{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: 'Almarai';font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;padding-top: 6px;}
.section-top-widget .col-part-three{padding-right: 28px;}
.section-top-widget .col-part-three .item-row {padding: 30px 0;border-bottom: 1px solid #D9D9D9;}
.section-top-widget .col-part-three .item-row .item-info{width: 245px;}
.section-top-widget .col-part-three .item-row:first-child {padding-top: 0;}
.section-top-widget .col-part-three .item-row:last-child {border-bottom: 0;padding-bottom: 0;}
.section-top-widget .col-part-three .item-row .item-info a{color: #000;color: color(display-p3 0 0 0);text-align: right;font-family: Almarai;font-size: 15px;font-style: normal;font-weight: 800;line-height: 25px;text-decoration: none;}


@media screen and (max-width: 768px){
    .section-top-widget .col-part-one.col-4{max-width: 100%;flex: 0 0 100%;margin-bottom: 15px;}
    .section-top-widget .col-part-one.col-4{padding-left: 0;}
    .section-top-widget .col-part-two{max-width: 100%;flex: 0 0 100%;}
    .section-top-widget .col-part-two{gap: 40px;margin-bottom: 15px;}
    .section-top-widget .col-part-three{max-width: 100%;flex: 0 0 100%;}
    .section-top-widget .col-part-three .item-row .item-info{width: 100%;}
    .section-top-widget .col-part-two .item-row{max-width: 100%;flex: 0 0 100%}
}


/* 3rd Widget */




.alrai-section-second-widget{
    margin-top: 46px;
}
.alrai-section-second-widget .flex-row{
    gap: 28px;
}

.alrai-section-second-widget .item-row{
    width: 280px;
}

.alrai-section-second-widget .item-row .item-info{
    border: 1px solid #D3D3D3;
}

.alrai-section-second-widget .item-row .item-info a {
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: right;
    font-family: Almarai;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    text-decoration: none;
    padding: 15px 15px 28px 34px;
}

.alrai-section-second-widget #load_more_articles{
    border-radius: 5px;
width: 100%;
}

.alrai-section-second-widget #load_more_articles .textLoadMore {
    display: table;
    margin: auto;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: solid 1px #00b1f5;
    padding: 9px 48px 11px;
    cursor: pointer;
    background-color: #00A0E5;
    border-radius: 5px;
  }


@media screen and (max-width:768px){
    
    .container .col-md-9:has(.alrai-section-second-widget){
        width: 100%;
    }

    .alrai-section-second-widget .item-row{
        width: 100%;
    }
}



/* First Section Ad */

.section-first-ad{
    margin-top: 46px;
    margin-right: 20px;
    width: 300px;
  height: 250px;
  background: color(display-p3 0.9333 0.9333 0.9333);
}


/*  Social Media Widget */

.alrai-social-media{display: flex; flex-direction: column;margin-top: 30px;margin-right: 20px;}
.alrai-social-media .title-widget-1 {display: flex;gap: 7px;}
.alrai-social-media .title-widget-1 a{text-decoration: none;}
.alrai-social-media .title-widget-1 a p.follow-us{color: #00A0E5;color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: normal;border-left: 3px solid #00A0E5;padding-left: 5px;width: fit-content;margin-bottom: 0;}
.alrai-social-media  .wrapper-social-media{display: flex;gap: 7px;padding-right: 5px;}

@media screen and (max-width: 768px){

    .container .row .col-md-4:has(.alrai-social-media){
        flex: 0 0 100%;
        max-width: 100%;
    }


    .alrai-writer-widget .item-row{flex: 0 0 100%;max-width: 100%;}
    .alrai-social-media{align-items: center;}
    .alrai-social-media .title-widget-1{justify-content: center;}
}



/* Alrai Visitor Browsing */


.alrai-visitor-browsing{
    padding-top: 35px;width: 100%;margin-right: 20px;}
.alrai-visitor-browsing .title-widget-1 a {color: color(display-p3 0 0.6157 0.8745);text-align: right;font-family: 'Almarai';font-size: 24px;font-style: normal;font-weight: 800;line-height: 39px;text-decoration: none;padding-bottom: 5px;}
.alrai-visitor-browsing .title-widget-1 {margin-bottom: 23px;}
.alrai-visitor-browsing .title-widget-1::after {content: "";position: absolute;left: 0;right: 0;bottom: 0;background: linear-gradient(90deg, rgba(0, 85, 121, 0.05) 0%, rgba(0, 157, 223, 1) 100%);z-index: 1;height: 3px;width: 100%;}

.alrai-visitor-browsing .item-row .flex-column > a{
    display: none;
}

.alrai-visitor-browsing .item-row a{
    color: #000;
    color: color(display-p3 0 0 0);
    text-align: right;
    font-family: 'Almarai';
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    text-decoration: none;
}

.alrai-visitor-browsing .item-row a{
    padding: 23px 0;
}

.alrai-visitor-browsing .item-row:first-child a{
    padding-top: 0;
}

.alrai-visitor-browsing .item-row a{
    border-bottom: 1px solid #D9D9D9;
}

.alrai-visitor-browsing div.follow-us{
    display: flex;
    margin-top: 43px;
    align-items: center;
}
.alrai-visitor-browsing div.follow-us p.follow-us{
    color: color(display-p3 0 0.6157 0.8745);
    text-align: right;
    font-family: "Almarai";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-left: 3px solid rgb(0, 160, 229);
    padding-left: 2px;
    margin-left: 10px;
    width: fit-content;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px){
    .col-md-9:has(.alrai-education-widget){
        width: 100%;
    }

    .col-md-3:has(.alrai-visitor-browsing){
        width: 100%;
    }
}



/* Alrai Epaper */
.alrai-epaper-widget{margin-top: 70px; width: 100%;margin-right: 20px;}


/* Alrai Epaper 2 */

.alrai-epaper-2-widget{margin-top: 25px;margin-right: 20px;}


/* Alrai Second Ad */


.section-second-ad{
    margin-top: 46px;
    margin-right: 20px;
    width: 300px;
  height: 250px;
  background: color(display-p3 0.9333 0.9333 0.9333);
}


/* . Alrai Last Widget */


.alrai-section-last-widget{margin: 0 auto; position: relative;padding-top: 68px;margin-top: 35px;}
.alrai-section-last-widget::after{position: absolute;content: url('/images/section-page-icons/section-page-faded-line.svg');top: 0;transform: translateX(25%);}
.alrai-section-last-widget .row-element {width: 100%;}
.alrai-section-last-widget .row-element .full-col .item-row{width: 125px;}
.alrai-section-last-widget .row-element .item-row .img-ratio{padding-bottom: 100%;}
.alrai-section-last-widget .row-element .item-row .img-ratio img{border-radius: 50%;border: 2px solid #00A0E5; padding: 3px}
.alrai-section-last-widget .row-element .content-wrapper{display: flex;gap: 30px;justify-content: center;padding-top: 30px;}
.alrai-section-last-widget .row-element .item-row a{color: #000;color: color(display-p3 0 0 0);text-align: center;font-family: Almarai;font-size: 14px;font-style: normal;font-weight: 800;line-height: 20px;text-decoration: none;}

@media screen and (max-width:768px){
    .alrai-section-last-widget .row-element .content-wrapper{
        flex-direction: column;
    }
}



.section-last-ad{width: 728px;height: 90px;background: #dedede;margin: 0 auto;margin-top: 60px;}